<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<title>Chatroom</title>

		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="m-0">
		<header class="p-6 flex self-center justify-start bg-white shadow-lg">
				<h1 class="text-3xl font-bold">Chatroom</h1>

				<div class="right-nav">
					<a href="/profile">Profile</a>
					<a href="/login" class="text-white p-4">Login</a>
					<a href="/signup" class="bg-gradient-to-r from-sky-500 to-indigo-500">Sign Up</a>
				</div>
		</header>
		<section>
			<section>
				<h2>Real-time messaging,<br>Anywhere, anytime</h2>
			</section>
		</section>
	</body>
</html>
