<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<title>Chatroom</title>

		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="m-0">
		<header class="p-20 flex self-center bg-white shadow-lg">
				<h1 class="text-4xl font-bold">Chatroom</h1>
				<a href="/login">Login</a>
				<a href="/signup">Sign Up</a>
		</header>
		<section>
			<section>
				<h2>Real-time messaging</h2>
			</section>
		</section>
	</body>
</html>
