<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="/css/bg.css">
	</head>
	<body class="p-10">
		<section class="prompt my-[150px] mx-auto p-10 shadow-lg w-96 rounded-lg bg-white">
			<form action="/login/password" method="POST">
				<h3 class="text-center text-4xl font-bold my-4">Login</h3>

				<hr>
				<label class="block font-bold text-2xl" for="username">Username</label>
				<input class="block border border-gray-300 rounded-lg my-4 p-2" id="username" name="username" type="text" autocomplete="username" required>
				
				<label class="block font-bold text-2xl" for="current-password">Password</label>
				<input class="block border border-gray-300 rounded-lg my-4 p-2" name='password' type='password' autocomplete='current-password' required>
				<button type="submit" class="bg-gray-200 font-bold text-xl my-2 p-5 rounded-md">Login</button>
			</form>
			<p class="help">Don't have an account? <a href="/signup" class="font-bold">Sign up</a></p>
			<form action="/clear-users" method="POST">
				<button>CLEAR USERS</button>
			</form>
		</section>
		<footer class="info text-white font-bold">
			<p>Authentication powered by <a href="https://www.passportjs.org" target="_blank">Passport</a></p>
		</footer>
	</body>
</html>
