<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Login</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<style>
		* { /* reset margins and paddings on all elements */
			margin:0;
			padding:0;
		}

		body::before {
				content:""; /* required for ::before */
				position:fixed; /* don't scroll with page */
				z-index: -100; /* place behind elements on page */
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-attachment: fixed;
				background-size: cover;
				background-color:#146acc;
				background-image: 
				radial-gradient(circle farthest-side at top right, transparent, #620dff), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #9900ff);
				animation:bg-change 10s infinite;
		}

		@keyframes bg-change {
			0%, 100% {
				filter:hue-rotate(0deg);
			}
			50% {
				filter:hue-rotate(-45deg);
			}
		}
	</style>
	<body class="p-10">
		<section class="prompt my-[150px] mx-auto p-10 shadow-lg w-96 rounded-lg bg-white">
			<form action="/signup" method="post">
				<h3 class="text-center text-4xl font-bold my-4">Signup</h3>

				<label class="block font-bold text-2xl" for="username">Username</label>
				<input class="block border border-gray-300 rounded-lg my-4 p-2" id="username" name="username" type="text" autocomplete="username" required>
				
				<label class="block font-bold text-2xl" for="new-password">Password</label>
				<input class="block border border-gray-300 rounded-lg my-4 p-2" id="new-password" name='password' type='password' autocomplete='bew-password' required>
				<button type="submit" class="bg-gray-200 font-bold text-xl my-2 p-5 rounded-md">Signup</button>
			</form>
			<p class="help">Already have an account? <a href="/login" class="font-bold">Login</a></p>
		</section>
		<footer class="info text-white font-bold">
			<p>Created by <a href="https://www.jaredhanson.me" target="_blank">Jared Hanson</a></p>
			<p>Part of <a href="https://todomvc.com" target="_blank">TodoMVC</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org" target="_blank">Passport</a></p>
		</footer>
	</body>
</html>
