<header class="p-6 flex self-center justify-start items-center bg-white shadow-lg">
    <img src="images/veltro.png" width="100">
    <h1 class="text-3xl font-bold">Veltro</h1>

    <div class="right-nav">
        <a href="/profile">Profile</a>
        <a href="/login" class=" p-4 font-bold border-gray-500 border-4">Login</a>
        <a href="/signup" class="p-4 font-bold text-white bg-gradient-to-r from-sky-500 to-indigo-500 rounded-xl">Sign Up</a>
    </div>
</header>