<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Veltro</title>

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    
</head>
<body>
    <%- include('header.ejs') %>
</body>
</html>