* { /* reset margins and paddings on all elements */
    margin:0;
    padding:0;
}

body::before {
        content:""; /* required for ::before */
        position:fixed; /* don't scroll with page */
        z-index: -100; /* place behind elements on page */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-attachment: fixed;
        background-size: cover;
        background-color:#146acc;
        background-image: 
        radial-gradient(circle farthest-side at top right, transparent, #620dff), radial-gradient(ellipse farthest-corner at 0% 100%, transparent, #9900ff);
        animation:bg-change 10s infinite;
}

@keyframes bg-change {
    0%, 100% {
        filter:hue-rotate(0deg);
    }
    50% {
        filter:hue-rotate(-45deg);
    }
}